<div class="session-true">
  <nav class="main-nav">
    <%= render 'partials/main-nav' %>
  </nav>

  <div class="main-content-div">
    <% if current_user.profile && current_user.profile.complete? %>
    <div class="content-container">

      <div class="total-card">
        <p class="home-card-label">Total Earnings</p>
        <div class="home-main-value-container">
          <h1 class="home-main-value font-semibold"><%= number_to_currency(current_user.profile.total_earnings) %></h1>
          <%= link_to '+', new_profile_earning_path(@profile), class: "add-earning"%>
        </div>
      </div>

      <div class="date-filters-div">
        <%= link_to 'All', profile_earnings_path(@profile, filter: 'all'), class: "filter-btn flex items-center justify-center" %>
        <%= link_to 'Daily', profile_earnings_path(@profile, filter: 'daily'), class: "filter-btn flex items-center justify-center" %>
        <%= link_to 'Monthly', profile_earnings_path(@profile, filter: 'monthly'), class: "filter-btn flex items-center justify-center" %>
        <%= link_to 'Yearly', profile_earnings_path(@profile, filter: 'yearly'), class: "filter-btn flex items-center justify-center" %>
      </div>
      
      <div class="card-container">
        <% if @earnings.any? %>
              <% @earnings.each do |earning| %>
              <div class="earnings-card card">
                <h2 class="earning-card-title card-title">
                  <%= earning.title %>
                </h2>
                <p class="earning-card-value card-value">
                  <%= number_to_currency(earning.value) %>
                </p>
                <p class="earning-card-time card-time">
                  <%= earning.interval.strftime('%B %d, %Y') %>
                </p>
                  <div class="earning-card-actions card-actions">
                    <%= link_to 'Show', profile_earning_path(@profile, earning) %>
                    <%= link_to 'Edit', edit_profile_earning_path(@profile, earning) %>
                    <%= button_to 'Delete', profile_earning_path(@profile, earning), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this earning?' }, class:"delete-btn" %>
                  </div>
              </div>
              <% end %>
        <% else %>
          <p>No Earnings</p>
        <% end %>
      </div>
      
    </div>
    <% else %>
    <%= render partial: 'partials/profile-not-finished' %>
    <% end %>
  </div>
  
  <div class="profile-info-div grid">
    <%= render partial: 'profiles/profile-info-card', locals: { profile: current_user.profile } %>
    <%= paginate @earnings %>
  </div>
</div>