<div class="profile-info-content flex flex-col items-center justify-center">
    <% if current_user.profile && current_user.profile.complete? %>
      <% if current_user.profile.profile_picture.present? %>
        <img src="<%= current_user.profile.profile_picture %>" alt="Profile Picture" class="card-profile-picture mb-4 w-32 h-32 rounded-full">
      <% else %>
        <%= image_tag('user-silhouette.jpeg', alt: 'Default Profile Picture', class: 'card-profile-picture mb-4 w-32 h-32 rounded-full ') %>
      <% end %>
      <p class="mb-2 profile-card-text"><%= profile.last_name %></p>
      <p class="mb-2 profile-card-text"><%= profile.given_name %></p>
    <% else %>
      <p class="text-center">You are signed in as:</p>
      <h1 class="text-center text-2xl"><%= current_user.email %></h1>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'sign-out-btn mt-4 font-semibold py-2 px-4 rounded transition duration-300', data: { turbo: false } %>
    <% end %>
</div>