<div class="auth-container w-100 flex justify-center items-center">
  <div class="auth-reg-card m-auto flex flex-col justify-center items-center">
    
    <h2 class="auth-header font-bold">Sign up</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field m-auto">
        <%= f.label :email, class: "auth-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-input" %>
      </div>

      <div class="field m-auto">
        <%= f.label :password, class: "auth-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "auth-input" %>
      </div>

      <div class="field m-auto">
        <%= f.label :password_confirmation, class: "auth-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "auth-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "font-seminold" %>
      </div>

      
    <% end %>
    
    <p class="auth-alt-link">
      Already have an account? <%= link_to "Log in", new_session_path(resource_name), class: "font-semibold" %>
      <!-- <%= render "devise/shared/links" %> -->
    </p>

  </div>
</div>