<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-xl">
        <%= link_to 'Odit', root_path, class: 'font-bold' %>
      </div>
      <div class="flex space-x-4">
        <% if user_signed_in? %>
          <%= link_to 'Home', home_path, class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Earnings', profile_earnings_path(current_user.profile), class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Expenses', profile_expenses_path(current_user.profile), class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Profile', profile_path(current_user.profile), class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Edit Profile', edit_profile_path(current_user.profile), class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'text-white hover:text-gray-300' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'text-white hover:text-gray-300' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'text-white hover:text-gray-300' %>
        <% end %>
      </div>
    </div>
</nav>
  