<div class="session-true">
  <nav class="main-nav">
    <%= render 'partials/main-nav' %>
  </nav>

  <div class="main-content-div">
    <% if current_user.profile && current_user.profile.complete? %>
    <div class="home-container">
      <div class="home-balance-card">
        <p class="home-card-label">Current Balance</p>
        <h1 class="home-main-value font-semibold"><%= number_to_currency(format_large_number(current_user.profile.current_balance)) %></h1>
      </div>
      <div class="home-total-earnings-card">
        <p class="home-card-label">Total Earnings</p>
        <h1 class="home-main-value font-semibold"><%= format_large_number(current_user.profile.total_earnings) %></h1>
      </div>
      <div class="home-total-expenses-card">
        <p class="home-card-label">Total Expenses</p>
        <h1 class="home-main-value font-semibold"><%= format_large_number(current_user.profile.total_expenses) %></h1>
      </div>
    </div>
    <% else %>
      <%= render partial: 'partials/profile-not-finished' %>
    <% end %>
 </div>

  <div class="profile-info-div grid">
    <%= render partial: 'profiles/profile-info-card', locals: { profile: current_user.profile } %>
  </div>
</div>

