<h1>Expenses</h1>

<div>
  <%= link_to 'All', profile_expenses_path(@profile, filter: 'all') %>
  <%= link_to 'Daily', profile_expenses_path(@profile, filter: 'daily') %>
  <%= link_to 'Monthly', profile_expenses_path(@profile, filter: 'monthly') %>
  <%= link_to 'Yearly', profile_expenses_path(@profile, filter: 'yearly') %>
</div>

<h2>Total Expenses: <%= number_to_currency(@total) %></h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Interval</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.title %></td>
        <td><%= number_to_currency(expense.value) %></td>
        <td><%= expense.interval.strftime('%B %d, %Y') %></td>
        <td>
          <%= link_to 'Show', profile_expense_path(@profile, expense) %>
          <%= link_to 'Edit', edit_profile_expense_path(@profile, expense) %>
          <%= link_to 'Delete', profile_expense_path(@profile, expense), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Expense', new_profile_expense_path(@profile) %>