<!DOCTYPE html>
<html>
  <head>
    <title>Odit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notices">
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>

    <div class="reminders">
      <% if flash[:reminder] %>
        <p class="reminder"><%= reminder %></p>
      <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <nav class="main-nav">
        <%= render 'partials/main-nav' %>
      </nav>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
