<!DOCTYPE html>
<html>
  <head>
    <title>Odit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notices">
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>

    <div class="reminders">
      <% if flash[:reminder] %>
        <p class="reminder"><%= reminder %></p>
      <% end %>
    </div>
    <main class="main-div">
      <% unless controller_name == 'profiles' && action_name == 'new' %>
        <nav class="main-nav">
          <%= render 'partials/main-nav' %>
        </nav>
      <% end %>  
      <div class="main-content-div">
        <%= yield %>
      </div>
      <% if user_signed_in? %>
        <div class="user-info-div">
          <% if current_user.profile && !(controller_name == 'profiles' && action_name == 'new') %>
            <%= render partial: 'profiles/profile_info', locals: { profile: current_user.profile } %>
          <% else %>
            <% unless controller_name == 'profiles' && action_name == 'new' %>
              <%= link_to 'Create Profile', new_profile_path, class: 'bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-4 inline-block' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </main>
  </body>
</html>